# Rust build artifacts
/target
**/target

# Cargo local overrides
# **/.cargo/

# Lockfiles (optional)
# Keep root Cargo.lock for apps
# Ignore nested ones if accidental
crates/**/Cargo.lock

# Webui
webui/node_modules

# IDE / Editors
.vscode/
.idea/
.zed/
.helix/
.nvim.lua

# OS junk
.DS_Store
Thumbs.db

# Rust backups
*.rs.bk

# Debug symbols
*.pdb

# Custom
index.scip
